/* 3D Cube: My Style Sheet */
/* Author: https://youtu.be/-laon9XCNio?si=B9NWq90EfYt2kCwM */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    perspective: 1000px;
    overflow: hidden;
}

.scene {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
}

.cube {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: 0.1px solid #fff;
}

.front {
    transform: rotateY(0deg) translateZ(150px);
}

.back {
    transform: rotateY(180deg) translateZ(150px);
}

.left {
    transform: rotateY(-90deg) translateZ(150px);
}

.right {
    transform: rotateY(90deg) translateZ(150px);
}

.top {
    transform: rotateX(90deg) translateZ(150px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(150px);
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.grid span {
    width: 30px;
    height: 30px;
    background: #333d;
    border: 0.1px solid #fff1;
    transform-style: preserve-3d;
    perspective: 500px;
}

.grid span.active {
    background: #fff;
    z-index: 10000;
    filter: drop-shadow(0 0 20px #fff);
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .scene {
        width: 200px;
        height: 200px;
    }

    .face {
        width: 200px;
        height: 200px;
    }

    .front {
        transform: rotateY(0deg) translateZ(100px);
    }

    .back {
        transform: rotateY(180deg) translateZ(100px);
    }

    .left {
        transform: rotateY(-90deg) translateZ(100px);
    }

    .right {
        transform: rotateY(90deg) translateZ(100px);
    }

    .top {
        transform: rotateX(90deg) translateZ(100px);
    }

    .bottom {
        transform: rotateX(-90deg) translateZ(100px);
    }

    .grid span {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 400px) {
    .scene {
        width: 150px;
        height: 150px;
    }

    .face {
        width: 150px;
        height: 150px;
    }

    .front {
        transform: rotateY(0deg) translateZ(75px);
    }

    .back {
        transform: rotateY(180deg) translateZ(75px);
    }

    .left {
        transform: rotateY(-90deg) translateZ(75px);
    }

    .right {
        transform: rotateY(90deg) translateZ(75px);
    }

    .top {
        transform: rotateX(90deg) translateZ(75px);
    }

    .bottom {
        transform: rotateX(-90deg) translateZ(75px);
    }

    .grid span {
        width: 15px;
        height: 15px;
    }
}
